.section {
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section div {
  min-width: 576px;
  max-width: max-content;
}
